*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    color: green;
    font-weight: bold;
    font-size: 1rem;
}

label{
    font-size: 0.9rem;
    text-transform: capitalize;
}

input:not([type="radio"]):not([type="checkbox"]){
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline-color: grey;
    font-size: 1.2rem;
}

input[type="checkbox"], input[type="radio"]{
    accent-color: green;
    transform: scale(1.1);
}



.form-container{
    width: 500px;
    height: 700px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.form-container h1{
    text-transform: capitalize;
}

.form-container .name-input{
    /* background-color: green; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-input div{
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.form-container .email-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container .query-input{
    width: 100%;

}

.query-input .query-heading{
    margin-bottom: 10px;
    text-transform: capitalize;
}

.query-input > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.query-input > div > div{
    height: 40px;
    width: 45%;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.query-input div div label{
    order: 2;
}

.form-container .message-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container .message-input textarea{
    height: 100px;
    width: 100%;
    resize: none;
    padding-left: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline-color: grey;
    font-size: 1.2rem;
}

.form-container .checkbox-input{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-container .submit{
    background-color: green;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 0px;
    color: white;
}